<div class="blog-home2 mx-5 mb-4">

    <div class="container-fluid">
        <!-- Row  -->
        <div class="row justify-content-center">
            <!-- Column -->
            <div class="col-md-8 text-center">

                <h3 class="my-3">Event Planning</h3>
                Propose and Attend Events!
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div id="calendar"></div>
        </div>
    </div>
</div>