<div class = "container-fluid mx-auto">
    <div class="container-fluid mx-auto">
        <div class="row">
            <nav class="col-lg-3 col-xl-2 d-lg-flex flex-lg-column align-items-lg-start sidebar position-fixed mt-5">
                <!-- Sidebar content goes here -->
                <div class="sidebar-header grey">
                    <h1 class="mb-1 mb-lg-2 f1 fw-600">Community Event Planner</h1>
                    <p class="col-sm-8 col-lg-12 mx-auto mb-0 mb-lg-4">
                        View and add events to share them with the Harmony Hub Community!
                    </p>
                </div>
            </nav>
        </div>
    </div>

    <div class="container-fluid mx-auto">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addEventModal">
                    Add Event
                </button>
                <div id="calendar"></div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addEventModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add Event</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form id="addEventForm">
                    <div class="form-group">
                        <label for="eventTitle">Title</label>
                        <input type="text" class="form-control" id="eventTitle" required>
                    </div>
                    <div class="form-group">
                        <label for="eventStart">Start Date</label>
                        <input type="datetime-local" class="form-control" id="eventStart" required>
                    </div>
                    <div class="form-group">
                        <label for="eventEnd">End Date</label>
                        <input type="datetime-local" class="form-control" id="eventEnd">
                    </div>
                    <button type="submit" class="btn btn-primary">Add Event</button>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Clicking an existing Event on Calendar Modal Popup -->
<div class="modal" id="viewEventModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="eventID">Event ID</label>
                <h5 id = "eventID" class="modal-id"></h5>
                <label for="eventOwner">Event Owner</label>
                <h5 id = "eventOwner" class="modal-owner"></h5>
                <label for="eventStart">Start Date</label>
                <h5 id = "eventStart" class="modal-date"></h5>
                <label for="eventAttendees">Attending:</label>
                <h5 id = "eventAttendees" class="modal-attendees"></h5>
            </div>
            <div class="modal-footer">
                <div id = "feedbackMessage"></div>
                <button type="button" class="btn btn-primary attend-event-button" data-bs-dismiss="modal">Attend</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-warning edit-event-button">Edit</button>
                <button type="button" class="btn btn-danger delete-event-button">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for successful signup to an event -->
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">Success</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>You have successfully signed up for the event.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for successful unattend to an event -->
<div class="modal fade" id="unattendSuccessModal" tabindex="-1" aria-labelledby="unattendSuccessModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="unattendSuccessModalLabel">Success</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>You have successfully unattended the event.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<!-- Edit Event Modal -->
<div class="modal fade" id="editEventModal" tabindex="-1" aria-labelledby="editEventModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editEventModalLabel">Edit Event</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editEventForm">
                    <div class="form-group">
                        <label for="editEventTitle">Title</label>
                        <input type="text" class="form-control editEventTitle" id="editEventTitle" required>
                    </div>
                    <div class="form-group">
                        <label for="editEventStart">Start Date</label>
                        <input type="datetime-local" class="form-control editEventStart" id="editEventStart" required>
                    </div>
                    <div class="form-group">
                        <label for="editEventEnd">End Date</label>
                        <input type="datetime-local" class="form-control editEventEnd" id="editEventEnd">
                    </div>
                    <button type="submit" class="btn btn-primary saveChangesButton">Save Changes</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
