
    <div class="blog-home2 mx-5">
        <div class="container-fluid">
            <!-- Row  -->
            <div class="row justify-content-center">
                <!-- Column -->
                <div class="col-md-8 text-center">
                    <h3 class="my-3">Login</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div>
                    <div id = "messageArea" class = "px-3 mb-0"></div>
                    <div>
                        <form class = "contact-info">
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                    <input type="text" class="form-control" id="username" name="username"
                                           aria-describedby="usernameHelp" placeholder="Username" required>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fa fa-lock"></i></span>
                                    <input type="password" class="form-control" id="password" name ="password"
                                           placeholder="Password" required>
                                </div>
                            </div>
                                <!-- Login button on the left -->
                            <button id="login-button" type="button" class="btn btn-primary">Login</button>
                                <!-- Register link centered -->
                            <span>Don't have an account? </span><a href="/register">Register</a>
                        </form>

                    </div>

                </div>
            </div>
        </div>
    </div>




