<div class="blog-home2 mx-5 mb-4">
    <div class="container-fluid">
        <!-- Row  -->
        <div class="row justify-content-center">
            <!-- Column -->
            <div class="col-md-8 text-center">
                <h3 class="my-3">Our Statistics</h3>
                Here is a collection of charts to visualize how the community is engaging in Harmony Hub.
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card mb-4">
                <div class="card-body">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-6 mb-4" style="display: flex;">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <canvas id="myChart2"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4" style="display: flex;">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <canvas id="myChart3"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
