<nav class="navbar fixed-bottom navbar-expand bg-body-tertiary mt-5">
    <div class="container-fluid">
        <!-- Links on the left side, centered -->
        <div class="navbar-collapse justify-content-center">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/privacypolicy">Privacy Policy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ToS">Terms of Service</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
        </div>

        <!-- "Statistics" link on the right side -->
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li id="statsLink" class="nav-item">
                <a></a>
            </li>
        </ul>
    </div>
</nav>
