/*
Names: Brody Dentinger
Date: January 20, 2024
File: style.css
Description: CSS styling for the HarmonyHub Project.
*/

@font-face {
    font-family: 'Greycliffe';
    src: url('Demo_Fonts/Fontspring-DEMO-greycliffcf-regular.otf') format('opentype');
}

.carousel-item img {
    object-fit: cover;
    width: 80vh;
    height: 80vh; /* 80% of the viewport height */
}

.carousel-item {
    height: 80vh; /* 80% of the viewport height */
}

.overlay-text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    color: #FFFFFF; /* Text color */
    padding: 20px;
    text-align: center;
    z-index: 1; /* Ensure the overlay is above the carousel */
}

#animatedText{
    opacity: 0;
}

@keyframes fadeInAndOut {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0.15;
    }
    10% {
        opacity: 0.25;
    }
    15% {
        opacity: 0.35;
    }
    20% {
        opacity: 0.45;
    }
    25% {
        opacity: 0.55;
    }
    30% {
        opacity: 0.65;
    }
    35% {
        opacity: 0.75;
    }
    40% {
        opacity: 0.85;
    }
    45% {
        opacity: 0.95;
    }
    50% {
        opacity: 1;
    }
    55% {
        opacity: 0.95;
    }
    60% {
        opacity: 0.85;
    }
    65% {
        opacity: 0.75;
    }
    70% {
        opacity: 0.65;
    }
    75% {
        opacity: 0.55;
    }
    80% {
        opacity: 0.45;
    }
    85% {
        opacity: 0.35;
    }
    90% {
        opacity: 0.25;
    }
    95% {
        opacity: 0.15;
    }
    100% {
        opacity: 0;
    }
}

.animate-text-fade-in-and-out{
    animation: fadeInAndOut 6s;
}

.overlay-text-box-heading{
    font-size: xx-large;
    font-family: 'Greycliffe', sans-serif;
}

.overlay-text-box-subheading1{
    font-size: xxx-large;
    font-family: 'Greycliffe', sans-serif;
}



